@import url('https://fonts.googleapis.com/css2? família=Noto+Sans+TC:wght@900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, sans-serif;
}

html,body {
    overflow-x: hidden !important;
}

/* Header */

header {
    width: 100%;
    height: 70px;
    background-color: #202020;
    display: flex;
    position: fixed;
    z-index: 10;
}

.logo {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo > span {
    margin-left: 30px;
    color: rgb(255, 70, 70);
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.navegacao {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 60px;
}

.navegacao-itens {
    display: flex;
    gap: 30px;
}

.navegacao-itens > a {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.navegacao-itens > a:hover {
    transition: 0.6s;
    transform: scale(1.3);
    color: rgb(255, 0, 0);
}

/* Main */

main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/fundo.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 80%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #202020;
    border: 2px solid black;
}

.frase {
    display: flex;
    color: red;
}

.assistir {
    display: flex;
    padding: 10px 15px;
    background-color: #000000;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;    
}

.assistir > a {
    color: #ffffff;
    text-decoration: none;
}

.assistir:hover {
    transition: 0.5s;
    transform: scale(1.3);
}

/* Footer */

footer {
    width: 100%;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 30px;
    color: white;
}

.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.redes_icones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 180px;
}

.icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icones > a {
    color: white;
    text-decoration: none;
}

.icones > img {
    width: 50px;
}

.rodape {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

footer img:hover {
    transform: rotate(360deg);
}

footer img {
    transition: transform .8s ease-in-out;
}

/************* MEDIA QUERIES **************/

@media(max-width: 425px) {



    .redes_icones {
        gap: 120px;
    }

    .rodape > small {
        text-align: center;
        font-size: 12px;
    }

}

@media(max-width: 768px) {

    .frase > h2 {
        text-align: center;
    }
}